@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap');
body{
  margin: 0px;
  font-family: 'Noto Sans JP',fantasy;
  font-weight: 300!important;
  background: rgba(100, 240, 10, 0.5);
}
h3{
  font-weight: bold;
}
#main-header{
  border-bottom:  1px solid #000;
}
#top-stories{
  width:600px;
  margin: auto;
  margin-top: 20px;
}
  header {
  background: rgb(255,255,255);
  color: #0af;
}
article{

  width: 110px;
 display: inline-block;
 border :1px solid #000;
 padding: 10px;


 }

article img{
  max-width: 100%;
}
.article-image{
  height: 300px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}
